name: "Ukenytt Frida"
description: "Addon konverterer ukenytt pdf til sensorer i Home Assistant"
version: "0.1.1"
slug: "ukenytt_frida"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
ports:
  8080/tcp: 8080